/********************Tag Elements******************/
body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  color: #66BFBF;
  line-height: 2;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
}

h3 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
}

hr {
  border-style: none;
  border-top: dotted;
  border-width: 8px;
  border-color: #79cef7;
  height: 0;
  width: 5%;
  margin: 100px auto 100px auto;
}

/************************Class Elements*************/
.top {
  background-color: #EAF6F6;
  position: relative;
  padding-top: 100px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.top-cloud {
  position: absolute;
  top: 50px;
  right: 300px;
}

.my-photo {
  width: 200px;
  border-radius: 100%;
}

.code-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.html-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.css-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.js-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.skill-row {
  width: 50%;
  margin: 200px auto 200px auto;
  text-align: left;
  line-height: 2;
}

.bottom {
  background-color: #66BFBF;
  position: relative;
  padding-bottom: 200px;
  margin-top: 200px;

}
.footer-link1 {
  position: absolute;
  color: #11999E;
  margin-top: 30px;
  left: 800px;
  top: 50px;

}

.footer-link2 {
  position: absolute;
  color: #11999E;
  margin-top: 30px;
  top: 50px;
}

.footer-link3 {
  position: absolute;
  color: #11999E;
  margin-top: 30px;
  right: 750px;
  top: 50px;
}

.footer-copyright {
  color: #EAF6F6;
  position: absolute;
  left: 850px;
  bottom: 30px;
}

.btn {
  background: #66BFBF;
  background-image: -webkit-linear-gradient(top, #66BFBF, #66BFBF);
  background-image: -moz-linear-gradient(top, #66BFBF, #66BFBF);
  background-image: -ms-linear-gradient(top, #66BFBF, #66BFBF);
  background-image: -o-linear-gradient(top, #66BFBF, #66BFBF);
  background-image: linear-gradient(to bottom, #66BFBF, #66BFBF);
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: Arial;
  color: #ffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}


/************************ID Elements***************/
